
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.company-name {
	border: 1px solid #b9c2ca;
    padding: 0.625rem;
    margin: 1.0rem auto 3rem 9rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}
